/* Start Global Rules */
:root {
    --main-color: #f65a83;
    --main-color-alt: #ff87b2;
	--text-color: #333;
	--backgound-color: #fff;
	--main-transition: 0.5s;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	position: relative;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color-alt);
	transition: var(--main-transition);
	border-radius: 99999999px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: var(--background-color);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}
.header .container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.toggle {
    width: 40px;
    height: 40px;
    background-color: var(--backgound-color);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
}
.toggle span{
    width: 100%;
    background-color: var(--text-color);
    height: 3px;
    transition: var(--main-transition);
    border-radius: 99999999px;
}
nav {
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--main-transition);
    transform: translateY(-100%);
}
nav.open {
    transform: translateY(0);
}
nav .close {
    position: fixed;
    top: 20px;
    right: 20px;
    color: indianred;
    border: 2px solid indianred;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--main-transition);
}
nav .close i {
    font-size: 22px;
}
nav a {
    color: var(--backgound-color);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    transition: var(--main-transition);
}
nav a:hover {
    background-color: rgb(0 0 0 / 50%);
}
/* End Header */
/* Start Landing  */
.landing {
    height: calc(100vh - 70px);
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .container {
    width: 100%;
    height: 100%;
}
.landing .container .box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing h1 {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--backgound-color);
}
.landing p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: var(--backgound-color);
}
/* End Landing  */
/* Start Section One */
.section-one {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--backgound-color);
}
.section-one .container {
    text-align: center;
}
.section-one h2 {
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: var(--text-color);
}
.section-one h2 + p {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.section-one .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
}
.section-one .box {
    padding: 15px;
}
.section-one .box .image {
    width: 50%;
    margin: 0 auto;
}
.section-one .box .image img {
    width: 100%;
}
.section-one .box .text h3 {
    color: var(--text-color);
}
.section-one .box .text p {
    color: #aaa;
    line-height: 2;
}
.section-one .box .text a {
    color: var(--main-color-alt);
    transition: var(--main-transition);
}
.section-one .box .text a:hover {
    color: var(--main-color);
}
@media (max-width: 992px) {
    .section-one h2 + p {
        width: 300px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .section-one .box {
        padding: 15px;
        opacity: 0;
        transform: translateY(-50px);
        transition: all var(--main-transition) linear;
    }
    .section-one .boxs .two {
        transition-delay: 0.2s;
    }
    .section-one .boxs .three {
        transition-delay: 0.4s;
    }
    .box.op {
        opacity: 1;
        transform: translateY(0);
    }
}
/* End Section One */
/* Start Stats */
.stats {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats .container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}
.stats .box {
    padding: 30px 15px;
	text-align: center;
}
.stats .box i {
    color: #fff;
}
.stats .box .number {
    color: #fff;
	display: block;
	font-size: 50px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}
.stats .box .text {
	color: #fff;
	font-size: 20px;
}
/* End Stats */
/* Start You Need */
.need {
    padding-top: 50px;
    padding-bottom: 50px;
}
.need .head {
    text-align: center;
}
.need .head h3 {
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: var(--text-color);
}
.need .head p {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.need .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
}
.need .box {
    text-align: center;
}
.need .box i {
    font-size: 32px;
    color: var(--text-color);
}
.need .box h4 {
    font-size: 22px;
    color: var(--text-color);
    margin: 20px 0 0;
}
.need .box + p {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.5;
}
@media (max-width: 992px) {
    .need .head p {
        width: 300px;
        font-size: 14px;
    }
}
/* End You Need */
/* Start New Brand */
.brand {
    padding-top: 50px;
    padding-bottom: 50px;
}
.brand .head {
    text-align: center;
}
.brand .head h3 {
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: var(--text-color);
}
.brand .head p {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.brand .box {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
}
.brand .box .text {
    width: 40%;
}
.brand .box .text i {
    font-size: 60px;
    color: var(--main-color);
}
.brand .box .text h4 {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
}
.brand .box .text p {
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}
.brand .box .image {
    width: 30%;
}
.brand .box .image img {
    width: 100%;
}
.brand .three .image img {
    width: 60%;
    margin-bottom: 20px;
}
@media (max-width: 992px) {
    .brand .head p {
        width: 300px;
        font-size: 14px;
    }
    .brand .box {
        flex-direction: column;
    }
    .brand .box .text {
        width: 100%;
        text-align: center;
    }
    .brand .box .image {
        width: 100%;
    }
    .brand .three .image img {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
}
/* End New Brand */
/* Start News */
.news {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f8;
}
.news .head {
    text-align: center;
}
.news .head h3 {
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: var(--text-color);
}
.news .head p {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.news .boxes {
    margin-top: 50px;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
.news .boxes .card {
    background-color: var(--backgound-color);
    cursor: pointer;
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1);
    transition: var(--main-transition);
}
.news .boxes .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.3);
}
.news .boxes .card .image {
    width: 100%;
}
.news .boxes .card .image img {
    width: 100%;
}
.news .boxes .card .text {
    width: 100%;
    padding: 20px;
}
.news .text .desc {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
}
.news .text .head-card h4 {
    font-size: 22px;
    color: var(--text-color);
    font-weight: bold;
    margin: 10px 0 5px;
}
.news .text .head-card p {
    font-size: 14px;
    color: #999;
}
.news .text .content p {
    color: var(--text-color);
    line-height: 2;
}
.news .text .content p i {
    color: #999;
    font-size: 14px;
}
@media (max-width: 992px) {
    .news .head p {
        width: 300px;
        font-size: 14px;
    }
}
/* End News */
/* Start Works */
.work {
    padding-top: 50px;
    padding-bottom: 50px;
}
.work .head {
    text-align: center;
}
.work .head h3 {
    margin: 0 auto;
    width: 350px;
    font-size: 30px;
    color: var(--text-color);
}
.work .head p {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.work .boxes {
    margin-top: 50px;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
.work .boxes .box {
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}
.work .boxes .box .text-position {
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    transition: var(--main-transition);
}
.work .boxes .box:hover .text-position {
    left: 0;
}
.work .boxes .box .text-position i {
    font-size: 22px;
    color: var(--main-color);
}
.work .boxes .box .text-position p {
    font-size: 22px;
    color: var(--text-color);
    font-weight: bold;
}
.work .boxes .box .image {
    width: 100%;
}
.work .boxes .box .image img {
    width: 100%;
    height: 335px;
}
@media (max-width: 992px) {
    .work .head p {
        width: 300px;
        font-size: 14px;
    }
}
/* End Works */
/* Start Animation */
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* End Animation */
